<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCyj8HT_nXwHUvoGrSbNUGPRUbhIQlM34</string>
	<key>GCM_SENDER_ID</key>
	<string>524664668605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev4passion.mdapp.patient</string>
	<key>PROJECT_ID</key>
	<string>dev4passion-mdapp-patient</string>
	<key>STORAGE_BUCKET</key>
	<string>dev4passion-mdapp-patient.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524664668605:ios:b9da4ede1ff51e646052d4</string>
</dict>
</plist>